@font-face {
  font-family: 'good times';
  src: local('good times'), url(../fonts/good times rg.ttf) format('trueType');
}

.container{
	
	margin:auto;
	text-align: center;
	
}

.carousel {
	width: 420px;          
    height: 500px;         
    margin: 0 auto 20px;   
    border: 0.3rem solid aqua; 
    box-sizing: border-box;
    background-color: #f9f9f9;
}

.card-image{
width: 100%;            
    height: 100%;           
    object-fit: contain;    
    display: block;
}

.carousel-caption{
	text-align: center !important;
	font-size: 25px !important;
	font-family: 'good times' !important;
	color: aqua !important;
}

#modal{
  font-family: 'good times' !important;
  font-size: 25px !important;
}

#modal-title{
  font-size: 30px !important;
  font-family: 'good times' !important;
  color: darkblue;
}

.carousel-title{
	font-family: "good times";
	color: initial;
}

.carousel-title:hover, a:hover{
	color: aqua;
	text-decoration: none !important;
}